.project-details img {
    width: 100%
}

.project-details ul {
    list-style: none;
}

.project-details ul li {
    margin-bottom: 10px;
}



.back {
    padding: 10px 15px;
    border: 1px solid #17BEBB;
    border-radius: 30px;
    transition: all .4s;
}

.back:hover {
    background-color: #17BEBB;
    color: whitesmoke;
}

.contribution-modal {
    margin-top: 40vh;
}

.contribution-toast {
    margin-bottom: 30vh;
}