.main-container {
    overflow: hidden;
}

.counter-section {
    
    height: 70vh;
    width: 100%;
    background-image: url("/images/brand_image.svg");
    background-size: cover;
}

.counter {
    padding: 100px 0 0 170px;
    color: white;
    font-size: 1.5em;
}

.planet-img {
    padding: 70px 0 0 170px;
}

.info{
    height: 300px;
    color:white;
    margin-top:90px;
    padding: 10px;
    background-color: #003459;
}

.info-body {
    padding:50px;
}

.projects-list {
    overflow: scroll;
    
}

.most-recent {
    margin-top: 100px;
}

.top-ranks{
    margin-top: 100px;
}

.user-home-card {
    align-items: center;
    border: none;
    margin-top: 20px;
    text-align: center;
}

.user-home-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
}
