
.profile-header {
    padding: 10px 0 100px 0;
    /* background-image: url('../../../images/brand_image.svg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.main-container{
    overflow: hidden;
}

.profile-header img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;;
}

.profile-header article {

    margin: 10px 0 10px 30px;

}

.profile-card {
    border: none;
    margin: 10px -12px;
}

.profile-card p {
    font-size: .8em;
}

.profile-button {
    margin: 30px 0;
}



.projects-profile img {
    
    height: 110px;
    object-fit: cover;
}