@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
body {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, strong {
  font-weight: 400;
}

h1 {
  margin-bottom: 30px;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}
.navbar {

  background-color: #1FB36F;
  
}

hr {
  border:.4px solid #1FB36F;
}


.navbar a {
  color: whitesmoke;
}

.toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
  width: 350px
}

.error-message {
  background: red;
  color: white;
  padding: 10px
}

.btn-primary {
  text-align: center;
  color: black;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #1FB36F;
  border-radius: 30px;
  transition: all .4s;  
  margin-left: 4px;
}

.btn-primary:hover {
  background-color: #1FB36F;
  border:1px solid #1FB36F;
}

.marker {
  width: 20px;
 
}

.marker img {
  display: block;
  object-fit: contain;
  width: 100%;
  stroke: #1FB36F;
}

.spinner {
  margin: 40vh 0 0 45vw;
}

.projects-profile {
  margin: 0 0 30px 0;
  overflow: scroll;
}